In [11]:
import pandas as pd
from pprint import pprint

In [12]:
d = {'Ticker':[],'high':[],'low':[],'opening':[],'closing':[],'next_High': []}
tdf = pd.DataFrame(d)
# ,'next_Opening': [3]
tdf

Empty DataFrame
Columns: [Ticker, high, low, opening, closing, next_High]
Index: []

In [13]:
data = pd.read_csv('./EdV3.csv')
test_df = pd.DataFrame(data)
data

       Ticker      opening    closing  volume        high        low
0       BRK.A  419065.5000  417203.03    1354  419065.500  414000.00
1       BRK.A  415580.6200  419854.00    1085  420505.000  415090.70
2       BRK.A  416268.0000  411979.00    1553  417572.500  411000.00
3       BRK.A  414768.0600  422000.00    1177  422300.000  414462.50
4       BRK.A  420710.5600  421172.50    1392  424304.060  418689.30
...       ...          ...        ...     ...         ...        ...
198360    HBT      15.7500      15.79    8885      16.000      15.53
198361    HBT      15.6800      15.18   11256      15.737      15.18
198362    HBT      15.3600      15.34   12439      15.530      15.25
198363    HBT      15.6100      15.27    3970      15.610      15.26
198364    HBT      15.3612      15.24   15372      15.370      15.06

[198365 rows x 6 columns]

In [25]:
data['opening'][0]

3381.63

In [14]:

count = 396
p=0
for d in data['Ticker']:
#     try:
    opening = data['opening'][p]
    closing =  data['closing'][p]
    high = data['high'][p]
    low = data['low'][p]           
    ticker = d
    p = p + 1
    next_opening = data['high'][p]
#             print(ticker,next_opening)
#             else:
#                 pass
    tdf = tdf.append({'Ticker': ticker,
                      'closing': closing,
                      'opening': opening,
                        'high': high,
                        'low': low,                              
                        'next_High': next_opening}, ignore_index=True)
#     print(ticker)


#     except:
#         pass

#         p+=1

KeyError: 198365

In [15]:
tdf

       Ticker        high        low    opening    closing   next_High
0       BRK.A  419065.500  414000.00  419065.50  417203.03  420505.000
1       BRK.A  420505.000  415090.70  415580.62  419854.00  417572.500
2       BRK.A  417572.500  411000.00  416268.00  411979.00  422300.000
3       BRK.A  422300.000  414462.50  414768.06  422000.00  424304.060
4       BRK.A  424304.060  418689.30  420710.56  421172.50  421524.500
...       ...         ...        ...        ...        ...         ...
198359    HBT      15.860      15.70      15.70      15.78      16.000
198360    HBT      16.000      15.53      15.75      15.79      15.737
198361    HBT      15.737      15.18      15.68      15.18      15.530
198362    HBT      15.530      15.25      15.36      15.34      15.610
198363    HBT      15.610      15.26      15.61      15.27      15.370

[198364 rows x 6 columns]

In [16]:
import numpy as np
rdf = tdf.replace("NaN" ,0)

In [17]:
rdf

       Ticker        high        low    opening    closing   next_High
0       BRK.A  419065.500  414000.00  419065.50  417203.03  420505.000
1       BRK.A  420505.000  415090.70  415580.62  419854.00  417572.500
2       BRK.A  417572.500  411000.00  416268.00  411979.00  422300.000
3       BRK.A  422300.000  414462.50  414768.06  422000.00  424304.060
4       BRK.A  424304.060  418689.30  420710.56  421172.50  421524.500
...       ...         ...        ...        ...        ...         ...
198359    HBT      15.860      15.70      15.70      15.78      16.000
198360    HBT      16.000      15.53      15.75      15.79      15.737
198361    HBT      15.737      15.18      15.68      15.18      15.530
198362    HBT      15.530      15.25      15.36      15.34      15.610
198363    HBT      15.610      15.26      15.61      15.27      15.370

[198364 rows x 6 columns]

In [18]:

tdf.to_csv(r'../Machine_Learning/EdV33.csv', index = False)

In [30]:
rdf.to_csv(r'../Machine_Learning/MLData3.csv', index = False)